@import '~antd/dist/antd.css';

.App {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Form {
    height: 800px;
    width: 420px;
    border: 1px solid #d8d8d8;
    box-shadow: 0 6.4px 14.4px 0 rgba(0, 0, 0, 0.132),
        0 1.2px 3.6px 0 rgba(0, 0, 0, 0.108);
    padding: 12px;
}
