.ColumnContainer {
    display: flex;
    flex-direction: column;
}

.ColumnLabel {
    margin-bottom: 4px;
}

.Row {
    display: flex;
}

.Row + .Row {
    margin-top: 12px;
}

.Column {
    flex: 1;
    display: flex;
    align-items: center;
}

.Column + .Column {
    margin-left: 30px;
}
