.ColumnContainer {
    display: flex;
    flex-direction: column;
}

.ColumnItem {
    display: flex;
}

.ColumnLabel {
    margin-bottom: 4px;
}

.ColumnItem + .ColumnItem {
    margin-top: 12px;
}

.ColumnItem > * {
    flex: 1;
}

.ColumnItem > * + * {
    margin-left: 30px;
}
